<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zumbaclasses"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission android:name="android.permission.INTERNET" >
    </permission>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.zumbaclasses.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.zumbaclasses.ClassListActivity"
            android:label="@string/title_activity_class_list"
            android:parentActivityName="com.example.zumbaclasses.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zumbaclasses.MainActivity" />
        </activity>
        <activity
            android:name="com.example.zumbaclasses.TeachersList"
            android:label="@string/title_activity_teachers_list" >
        </activity>
        <activity
            android:name="com.example.zumbaclasses.DisplayClassActivity"
            android:label="@string/title_activity_display_class" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
